.video{
    width: 600px;
    height: 380px;
    background-color: #fff;
    margin: auto;
}
video{
    width: 100%;
}
.video>img{
    width: 50px;
    height: 50px;
    float: left;
}
.video>span{
    float: left;
    width: 150px;
    height: 50px;
    /* background-color: red; */
    text-align: center;
    line-height: 50px;
}
.audio{
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin: 30px auto;
}
.audio img{
    width: 300px;
    height: 180px;
    border-radius: 50%;
    display: block;
    margin: auto;
    /* padding-top:20px; */
}
#ipt{
    display: block;
    margin:20px auto;
}
#name{
    width: 150px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    /* background-color: aqua; */
    margin: auto;
    font-size:13px;
}
.btn{
    width: 150px;
    height: 50px;
    margin: auto;
}
.btn button{
    width: 50px;
    height: 50px;
    float: left;
    border: none;
}
.btn button img{
    width: 100%;
    height: 100%;
}